
html, body{
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

#tomnooknote{
  background-color: #E7E6DA;
  height: 625px;
  border-radius: 5%;
  padding-top: 30px;
  margin-bottom: 10px;
}

#no-bg{
  background-color: transparent;
}

.col-4{
  background-color: #E7E6DA;
  height: 515px;
  border-radius: 4%;
  padding: 25px;
  margin-bottom: 20px;
}

.col-4 p{
  margin: 10px;
}

.col-5{
  background-color: #DADEE7;
  margin: 20px;
  padding: 20px;
}

#blocks h2{
  margin-top: 40px;
}

.col-sm-9{
  margin-left: 200px;
}

.col-sm-9 h2{
  margin-top: 40px;
}

div.container-fluid-nav{
    font-family: 'Russo One', sans-serif;
    color: #F2F1EB;
    margin: 0 auto;
    padding: 3em 3em;
    text-align: center;
    background-color: #E04E2D;
}

div.container-fluid-nav a{
    text-decoration: none;
    color: #F2F1EB;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
}

div.topBotomBordersOut a:before, div.topBotomBordersOut a:after{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #EC9683;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after{
    opacity: 1;
    transform: translateY(0px);
}

#footer{
  bottom: 0;
  background-color: #E04E2D;
  padding: 50px;
}

.carousel{
  position: relative;
}


